.page-navigation {
  display: flex;
  align-items: center;
  gap: 2px;
}

.cart-details {
  padding-block: 72px 85px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;


  .cart-products-list {
    .cart-products-list-products{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 16px;

      .product-in-cart-holder {

        .product-in-cart {
          display: flex;
          align-items: center;

          img {
            width: 108px;
            height: 108px;
            background-color: var(--background-3);
            border-radius: 10px;
          }

          .product-info {
            display: flex;
            align-items: center;
            gap: 50px;

            .bin {
              img {
                width: 21px;
                height: 21px;
              }
            }
          }
        }
      }
    }
  }

  .cart-totals {
    padding: 15px 75px 80px 75px;
    background-color: var(--background-3);

    h3 {
      font-size: 32px;
      text-align: center;
      margin-bottom: 60px;
    }

    .subtotal-and-total {
      display: flex;
      flex-direction: column;
      gap: 31px;

      .total {
        display: flex;
        justify-content: space-between;
      }

      .subtotal {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
